<form class="find" action= "<%= results_path %>" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="zipcode">enter a zipcode</label>
  <input class="zip" type="number" name="location[postCode]" >
  <input type="submit" value="find">
</form>
<div class="results">
  <ul>
  <% $opps[:opportunities].each do |opp| %>
    <li>
      <h4><%=opp["parentOrg"]["name"]%> | <%=opp["location"]["city"]%> | <%= opp["title"] %></h4>
      <p>
      <%= opp["plaintextDescription"] %>
      <%= opp["vmRrl"]%>
      <p>
      <form action="results_path" method="POST">
        <input type="submit" name="name" value="Save Opportunity">
      </form>
    </li>
  <% end %>
  </ul>
</div>
