<!DOCTYPE html>
<html>
<head>
  <title>karma</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <!-- <%= javascript_include_tag 'app', 'data-turbolinks-track' => true %> -->
  <%= csrf_meta_tags %>
</head>
<header>
  <h2>Where would you like to make a difference today?</h2>
  <div class="logo">
    KARMA
  </div>
  <% if current_user %>
    <form class="logout" action="<%= session_path %>" method="POST">
      <input type="hidden" name="_method" value="DESTROY">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="submit" value="Logout">
    </form>
  <% end %>
</header>
<body>

<%= yield %>

</body>
</html>
